<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
     <title>Otherness</title>
        <script src="/javascripts/socket.io.js"></script>
        <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>

     <style>
       @import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,600);
       body {font-family: "Source Code Pro", Consolas, monaco, monospace; line-height: 160%; font-size: 16px;  margin: 0; background-color: #40423c; }
       path.link {
         fill: none;
         stroke-width: 2px;
       }
       .node:not(:hover) .nodetext {
         display: none;
       }
       h1 { font-size: 36px; margin: 10px 0; text-transform: uppercase; font-weight: normal;}
       h2, h3 { font-size: 18px; margin: 5px 0 ; font-weight: normal;}
       header {padding: 20px; position: absolute; top: 0; left: 0;}
       a:link { color: #EE3124; text-decoration: none;}
       a:visited { color: #EE3124; }
       a:hover { color: #A4CD39; text-decoration: underline;}
       a:active { color: #EE3124;}
     </style>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
